.task {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
}

.taskChecked {
  border: 1px solid var(--gray-500);
  color: var(--gray-300);
  text-decoration: line-through;
}

.task + .task,
.taskChecked + .taskChecked {
  margin-top: 0.75rem;
}

.task div,
.taskChecked div {
  display: flex;
}

.checkboxWrapper input[type="checkbox"] {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
}

.checkboxWrapper input[type="checkbox"]:checked + .check {
  background: var(--purple-dark);
  border-color: var(--purple-dark);
}

.checkboxWrapper input[type="checkbox"]:checked + .check:hover {
  background: var(--purple);
  border-color: var(--purple);
  opacity: 1;
}

.check {
  border-radius: 50%;
  border: 2px solid var(--blue);
  width: 17.45px;
  height: 17.45px;
  background: transparent;
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1875rem;
  cursor: pointer;
  transition: border-color 150ms, background-color 150ms, opacity 150ms;
}

.check:hover {
  border-color: var(--blue-dark);
  background-color: var(--blue-dark);
  opacity: 0.2;
}

.check svg polyline {
  stroke-width: 2rem;
}
